@model e_ticaret_proje.Models.Customer
@{
    ViewData["Title"] = "Yeni Müşteri Ekle";
}

<h2>Yeni Müşteri Ekle</h2>

<form method="post">
    @Html.Label("Ad")
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    <br />

    @Html.Label("Email")
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    <br />

    @Html.Label("Telefon")
    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

    <br />

    @Html.Label("Şehir")
    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })

    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>

